.profileIcon {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid transparent;
  color: var(--ink);

  &:hover {
    border-color: var(--line);
  }

  text-decoration: none;
}
